.release{:id => "release#{release.id}"}
	%h3
		= link_to release.artist.name, artist_path(release.artist)
		&= "-"
		= link_to release.title, release_path(release)
		
	%p= raw release.description
	%p
		- unless release.duration.blank?
			Duration: #{release.duration}
			%br
		- unless release.catalogue_number.blank?
			Catalogue Number: #{release.catalogue_number}
	%p
		= link_to "Edit", edit_release_path(release), :id => "edit" << release.id.to_s
		&= "|"
		= link_to_destroy "Delete", release_path(release), confirm_destroy_release_path(release), form_authenticity_token, "delete" << release.id.to_s

				